<ion-navbar *navbar dark>
  <ion-title>Vermögen</ion-title>
</ion-navbar>

<ion-content padding>
    <form>
        <div class="block-assets">
            <p>
                Besitzen Sie Vermögen (Privat- und Sparkonto, Wertschriften etc.)?
            </p>
            <ion-segment favorite [(ngModel)]="household.assets.hasAssets">
                <ion-segment-button value="1">
                    Ja
                </ion-segment-button>
                <ion-segment-button value="0"><!--TODO: Set assets.assetValue to 0 if this is selected! Do this for similar cases too.-->
                    Nein
                </ion-segment-button>
            </ion-segment>
            <div *ngIf="household.assets.hasAssets == 1">
                <p>
                    Wie viel Vermögen besitzen Sie insgesamt?
                </p>
                <ion-item>
                    <ion-label floating>Vermögen in CHF</ion-label>
                    <ion-input type="tel" min="0" step="1" value="0" [(ngModel)]="household.assets.assetValue"></ion-input>
                </ion-item>
            </div>
        </div>

        <div class="block-car" *ngIf="household.assets.isAssetsValid()">
            <p>
                Besitzen Sie ein Auto oder ein anderes Fahrzeug?
            </p>
            <ion-segment favorite [(ngModel)]="household.assets.hasVehicle">
                <ion-segment-button value="1">
                    Ja
                </ion-segment-button>
                <ion-segment-button value="0">
                    Nein
                </ion-segment-button>
            </ion-segment>
            <div *ngIf="household.assets.hasVehicle == 1">
                <p>
                    Wie viel Wert hat Ihr Fahrzeug?
                </p>
                <ion-item>
                    <ion-label floating>Fahrzeugwert in CHF</ion-label>
                    <ion-input type="tel" min="0" step="1" value="0" [(ngModel)]="household.assets.vehicleValue"></ion-input>
                </ion-item>
            </div>
        </div>

        <p *ngIf="household.assets.isValid()">
        <button full round large favorite (click)="next($event)">Weiter</button>
        </p>
    </form>
    <dumper></dumper>
</ion-content>
