<!--
  Generated template for the HaushaltPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar dark>
  <ion-title>Haushalt</ion-title>
</ion-navbar>

<ion-content padding class="household">
    <form>
        <div class="block-size">
            <p>
                Wie viele Personen leben in Ihrem Haushalt?
            </p>
            <ion-segment favorite [(ngModel)]="case.household.singleHousehold">
                <ion-segment-button value="1">
                    Eine
                </ion-segment-button>
                <ion-segment-button value="0">
                    Zwei oder mehr
                </ion-segment-button>
            </ion-segment>
        </div>
        <div class="block-age" *ngIf="case.household.isSizeValid()">
            <p>Wie alt sind Sie?</p>
            <ion-item>
                <ion-label>Alter</ion-label>
                <ion-select interface="action-sheet" [(ngModel)]="case.household.age">
                <ion-option value="1">18-25</ion-option>
                <ion-option value="2">26-35</ion-option>
                <ion-option value="3">36-45</ion-option>
                <ion-option value="4">46-55</ion-option>
                <ion-option value="5">56-64</ion-option>
                </ion-select>
            </ion-item>
        </div>

        <p *ngIf="showNext()">
            <button full round large favorite (click)="next($event)">Weiter</button>
        </p>
    </form>
    <dumper></dumper>
</ion-content>
