<ion-navbar *navbar dark>
  <ion-title>Einkommen</ion-title>
</ion-navbar>

<ion-content padding class="einkommen">
    <form>
        <p>
            Hatten Sie letzten Monat ein Einkommen aus Erwerbstätigkeit (Job, Lehre etc.)?
        </p>
        <ion-segment favorite [(ngModel)]="case.hasJobIncome">
            <ion-segment-button value="1">
                Ja
            </ion-segment-button>
            <ion-segment-button value="0">
                Nein
            </ion-segment-button>
        </ion-segment>

        <div *ngIf="showOtherIncome()">
            <p>
                Hatten Sie letzten Monat ein anderes Einkommen (IV, ALV, UV/SUVA etc.)
            </p>
                <ion-segment favorite [(ngModel)]="case.hasOtherIncome">
                <ion-segment-button value="1">
                    Ja
                </ion-segment-button>
                <ion-segment-button value="0">
                    Nein
                </ion-segment-button>
            </ion-segment>
        </div>

        <p *ngIf="showNext()">
        <button full round large favorite (click)="next($event)">Weiter</button>
        </p>
    </form>
</ion-content>
