<ion-navbar *navbar dark>
  <ion-title>Einkommen</ion-title>
</ion-navbar>

<ion-content padding class="income">
    <form>
        <div class="block-income">
            <p>
                Hatten Sie letzten Monat ein Einkommen aus Erwerbstätigkeit (Job, Lehre etc.)?
            </p>
            <ion-segment favorite [(ngModel)]="household.income.hasJobIncome">
                <ion-segment-button value="1">
                    Ja
                </ion-segment-button>
                <ion-segment-button value="0">
                    Nein
                </ion-segment-button>
            </ion-segment>
            <div *ngIf="household.income.hasJobIncome == 1">
                <p>
                    Wie viel Einkommen haben sie letzten Monat insgesamt erzielt?
                </p>
                <ion-item>
                    <ion-label floating>Einkommen in CHF</ion-label>
                    <ion-input type="tel" min="0" step="1" value="" [(ngModel)]="household.income.jobIncomeValue"></ion-input>
                </ion-item>
            </div>
        </div>

        <div class="block-other-income" *ngIf="household.income.isJobIncomeValid()">
            <p>
                Hatten Sie letzten Monat ein Einkommen aus Sozialversicherungen (IV, ALV, UV/SUVA etc.) oder anderen Einkommensquellen?
            </p>
                <ion-segment favorite [(ngModel)]="household.income.hasSocialIncome">
                <ion-segment-button value="1">
                    Ja
                </ion-segment-button>
                <ion-segment-button value="0">
                    Nein
                </ion-segment-button>
            </ion-segment>
            <div *ngIf="household.income.hasSocialIncome == 1">
                <p>
                    Wie viel Einkommen aus Sozialversicherungen oder anderen Einkommensquellen haben Sie letzten Monat erzielt?
                </p>
                <ion-item>
                    <ion-label floating>Total andere Einkommen in CHF</ion-label>
                    <ion-input type="tel" min="0" step="1" value="" [(ngModel)]="household.income.socialIncomeValue"></ion-input>
                </ion-item>
            </div>
        </div>

        <p *ngIf="household.income.isValid()">
        <button full round large favorite (click)="next($event)">Weiter</button>
        </p>
    </form>
    <dumper></dumper>
</ion-content>
